

<body>
  <div>
    <img src="logo.svg" alt="Deakin Logo" width="200" height="210">
  </div>
  <h1>SIT223-SIT753 - Professional Practice in IT</h1>
</body>


h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}

div {
  background-color: darkcyan;
  text-align: right;
 }
 
